<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Documento de Arquitectura Migración SIU</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Documento de Arquitectura Migraci&#243;n SIU</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8529b704aafa4c9caf3ab4d087c54c5b.png" alt="Documento de Arquitectura Migración SIU" usemap="#id-8529b704aafa4c9caf3ab4d087c54c5bmap"/>
			   <map name="id-8529b704aafa4c9caf3ab4d087c54c5bmap">
				  				<area shape="rect" coords="1220,500,1460,610" href="../views/id-2dff7e836da042a9a55c3c635828070e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="932,500,1172,610" href="../views/id-2dff7e836da042a9a55c3c635828070e.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="884,404,1606,684" href="../elements/id-0e4a249c7944477e88692b5e7534a9c8.html"  target="element">
				  				<area shape="rect" coords="68,476,308,586" href="../views/id-6dcada718c1446f69884dc7418828c51.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="20,404,820,684" href="../elements/id-86cf62dcda0447b78fd8e5946212edfc.html"  target="element">
				  				<area shape="rect" coords="1124,92,1364,202" href="../views/id-d58fdcecc4f542a39dce288e81a395ae.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="572,92,812,202" href="../views/id-ae9dc2de036e435fbcba8497224653a7.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="308,92,548,202" href="../views/id-4f2604a6793e41ce9eb978dca0209b03.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="44,92,284,202" href="../views/id-d1c66332737c4f8294474c4bbd0ebd52.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="842,92,1082,202" href="../views/id-64947c69f63c422e9f18c81763910332.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="20,20,1606,300" href="../elements/id-2bc68ea8a06e4acb98774be90fdebe03.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2bc68ea8a06e4acb98774be90fdebe03.html" target="element"> L&#237;nea Base PGN SIU </a> </td>
											    <td> <a href="../elements/id-2bc68ea8a06e4acb98774be90fdebe03.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-64947c69f63c422e9f18c81763910332.html" target="view"> Linebase.2.Portal </a> </td>
													    <td> <a href="../views/id-64947c69f63c422e9f18c81763910332.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-d1c66332737c4f8294474c4bbd0ebd52.html" target="view"> Lineabase.0.SIU applicación </a> </td>
													    <td> <a href="../views/id-d1c66332737c4f8294474c4bbd0ebd52.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-4f2604a6793e41ce9eb978dca0209b03.html" target="view"> Lineabase.1.SIU componente </a> </td>
													    <td> <a href="../views/id-4f2604a6793e41ce9eb978dca0209b03.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-ae9dc2de036e435fbcba8497224653a7.html" target="view"> Lineabase.1a.SIU componente </a> </td>
													    <td> <a href="../views/id-ae9dc2de036e435fbcba8497224653a7.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-d58fdcecc4f542a39dce288e81a395ae.html" target="view"> Riesgos.1. Migración funcional </a> </td>
													    <td> <a href="../views/id-d58fdcecc4f542a39dce288e81a395ae.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-86cf62dcda0447b78fd8e5946212edfc.html" target="element"> Arquitectura Migraci&#243;n PGN SIU </a> </td>
											    <td> <a href="../elements/id-86cf62dcda0447b78fd8e5946212edfc.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-6dcada718c1446f69884dc7418828c51.html" target="view"> Migracion.1.SIU modulos </a> </td>
													    <td> <a href="../views/id-6dcada718c1446f69884dc7418828c51.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-0e4a249c7944477e88692b5e7534a9c8.html" target="element"> Organizaci&#243;n cambios arquitectura </a> </td>
											    <td> <a href="../elements/id-0e4a249c7944477e88692b5e7534a9c8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-2dff7e836da042a9a55c3c635828070e.html" target="view"> Organización. 1n.1. Mapa producto PGN. Relatoría </a> </td>
													    <td> <a href="../views/id-2dff7e836da042a9a55c3c635828070e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-2dff7e836da042a9a55c3c635828070e.html" target="view"> Organización. 1n.1. Mapa producto PGN. Relatoría </a> </td>
													    <td> <a href="../views/id-2dff7e836da042a9a55c3c635828070e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2a60648506ca47519140154a8aaa771f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a60648506ca47519140154a8aaa771f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-2bc68ea8a06e4acb98774be90fdebe03.html" target="element"> L&#237;nea Base PGN SIU </a> </td>
																		<td> <a href="../elements/id-86cf62dcda0447b78fd8e5946212edfc.html" target="element"> Arquitectura Migraci&#243;n PGN SIU </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-c5b22b9ef4c548a686b307b818b60eb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5b22b9ef4c548a686b307b818b60eb3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-86cf62dcda0447b78fd8e5946212edfc.html" target="element"> Arquitectura Migraci&#243;n PGN SIU </a> </td>
																		<td> <a href="../elements/id-0e4a249c7944477e88692b5e7534a9c8.html" target="element"> Organizaci&#243;n cambios arquitectura </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>