<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organización. </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organizaci&#243;n. </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e0ab64cf2b854abbbfecfc391aa937aa.png" alt="Organización. " usemap="#id-e0ab64cf2b854abbbfecfc391aa937aamap"/>
			   <map name="id-e0ab64cf2b854abbbfecfc391aa937aamap">
				  		<area shape="rect" coords="1084,1676,1638,1786" href="../elements/id-849e6146b2a04cf980ea260a29fee822.html"  target="element">
				  		<area shape="rect" coords="1642,1556,1916,1666" href="../elements/id-c52d443bb66b4ababd65c47f71ec42b5.html"  target="element">
				  		<area shape="rect" coords="1364,1316,1638,1426" href="../elements/id-505213af5aa84e718e64111953fa987d.html"  target="element">
				  		<area shape="rect" coords="1084,1316,1358,1426" href="../elements/id-d254dad2ea664b798030c3d91c7fc8ed.html"  target="element">
				  		<area shape="rect" coords="1642,836,1916,946" href="../elements/id-9b9bbd723a0c417a931e869d05d6c280.html"  target="element">
				  		<area shape="rect" coords="1364,836,1638,946" href="../elements/id-4ee767539de648409f75bd96850d009b.html"  target="element">
				  		<area shape="rect" coords="1084,836,1358,946" href="../elements/id-b6bfe81843ab4d4c893fb17a1a0b2e04.html"  target="element">
				          <area shape="rect" coords="20,20,670,356" href="../objects/id-70aeb7703741490d8020d22bd1fe4be5.html" target="element" >
				  		<area shape="rect" coords="1356,188,1630,298" href="../elements/id-4f05f1b648a44732a4cae043ac8e4c82.html"  target="element">
				  		<area shape="rect" coords="2210,188,2484,298" href="../elements/id-6341ba289d2b4242b398efbe3c191e5e.html"  target="element">
				  		<area shape="rect" coords="2498,20,2772,130" href="../elements/id-1d59040ec9034dd2b46096705cf983ec.html"  target="element">
				  		<area shape="rect" coords="2210,20,2484,130" href="../elements/id-86e92becd35643f4b10b0dd2fc88bef4.html"  target="element">
				  		<area shape="rect" coords="1922,20,2196,130" href="../elements/id-26ee9ca12f0e414db03698fa354b28c0.html"  target="element">
				  		<area shape="rect" coords="1642,20,1916,130" href="../elements/id-bb54aeae7ad54b3baf28f9bd33487cae.html"  target="element">
				  		<area shape="rect" coords="1356,20,1630,130" href="../elements/id-ef30e563b64f49f59869519990d4b6a1.html"  target="element">
				  		<area shape="rect" coords="1076,20,1350,130" href="../elements/id-714ba5ae64034cd79a2d69347dde5232.html"  target="element">
				  		<area shape="rect" coords="788,20,1062,130" href="../elements/id-42f1d0e7e12c40a795cc635fed5106ab.html"  target="element">
				  		<area shape="rect" coords="1748,188,2022,298" href="../elements/id-4e6d571f85364cf6bef88871af795ee1.html"  target="element">
				  		<area shape="rect" coords="2498,188,2772,298" href="../elements/id-5e28aa0a727e4930baec0a9c52cbad98.html"  target="element">
				  		<area shape="rect" coords="788,188,1062,298" href="../elements/id-70182251bf3f460390869f2519604c81.html"  target="element">
				  		<area shape="rect" coords="1076,1076,1350,1186" href="../elements/id-ce272cb9432042a7b36f3d24042cd0bc.html"  target="element">
				  		<area shape="rect" coords="1642,1316,1916,1426" href="../elements/id-efbc5d5aa19e4f4d8b91dd8e3d74011e.html"  target="element">
				  		<area shape="rect" coords="1076,1196,1350,1306" href="../elements/id-8b7d1d4dc4504f29af7721acd93f3549.html"  target="element">
				  		<area shape="rect" coords="1922,1316,2196,1426" href="../elements/id-4bd3fca6e9694292bbeb89cdaeffba6f.html"  target="element">
				  		<area shape="rect" coords="1364,1196,1638,1306" href="../elements/id-df4786f27b4b48bba15722a08eaa90c0.html"  target="element">
				  		<area shape="rect" coords="1642,1436,1916,1546" href="../elements/id-5ac46c788d3a4628b806e27795effc33.html"  target="element">
				  		<area shape="rect" coords="788,1076,1062,1186" href="../elements/id-b981613d458149f3b703a9ee83ce4ed3.html"  target="element">
				  		<area shape="rect" coords="1356,596,1630,706" href="../elements/id-b644ec59f3fb485babe11a36d486f8db.html"  target="element">
				  		<area shape="rect" coords="1922,716,2196,826" href="../elements/id-0aee60ce59c94d8b9e7f04b3ddb808b6.html"  target="element">
				  		<area shape="rect" coords="770,356,1332,466" href="../elements/id-690ee912552c4bc093b4bb4c93718935.html"  target="element">
				  		<area shape="rect" coords="1068,476,1630,586" href="../elements/id-26cdd4622aa74b3ab403e5194a65cebb.html"  target="element">
				  		<area shape="rect" coords="1642,716,1916,826" href="../elements/id-86bbf31d943547af9c5d2aee55f3f775.html"  target="element">
				  		<area shape="rect" coords="1642,596,1916,706" href="../elements/id-7099c76553e74012a7b0a1f3319f52fc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7099c76553e74012a7b0a1f3319f52fc.html" target="element"> Indexaci&#243;n (copy) </a> </td>
											    <td> <a href="../elements/id-7099c76553e74012a7b0a1f3319f52fc.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86bbf31d943547af9c5d2aee55f3f775.html" target="element"> Contenidos (copy) </a> </td>
											    <td> <a href="../elements/id-86bbf31d943547af9c5d2aee55f3f775.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26cdd4622aa74b3ab403e5194a65cebb.html" target="element"> Recolecci&#243;n (copy) </a> </td>
											    <td> <a href="../elements/id-26cdd4622aa74b3ab403e5194a65cebb.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-690ee912552c4bc093b4bb4c93718935.html" target="element"> B&#250;squeda (copy) </a> </td>
											    <td> <a href="../elements/id-690ee912552c4bc093b4bb4c93718935.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0aee60ce59c94d8b9e7f04b3ddb808b6.html" target="element"> Sincronizaci&#243;n (copy) </a> </td>
											    <td> <a href="../elements/id-0aee60ce59c94d8b9e7f04b3ddb808b6.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b644ec59f3fb485babe11a36d486f8db.html" target="element"> Descripci&#243;n (metatada) (copy) </a> </td>
											    <td> <a href="../elements/id-b644ec59f3fb485babe11a36d486f8db.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b981613d458149f3b703a9ee83ce4ed3.html" target="element"> Funcionalidades de b&#250;squeda (copy) </a> </td>
											    <td> <a href="../elements/id-b981613d458149f3b703a9ee83ce4ed3.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ac46c788d3a4628b806e27795effc33.html" target="element"> Proceso de organizaci&#243;n de contenidos (copy) </a> </td>
											    <td> <a href="../elements/id-5ac46c788d3a4628b806e27795effc33.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df4786f27b4b48bba15722a08eaa90c0.html" target="element"> Funcionalidades de descripci&#243;n de contenidos (copy) </a> </td>
											    <td> <a href="../elements/id-df4786f27b4b48bba15722a08eaa90c0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4bd3fca6e9694292bbeb89cdaeffba6f.html" target="element"> Proceso de sincronizaci&#243;n de contenidos (copy) </a> </td>
											    <td> <a href="../elements/id-4bd3fca6e9694292bbeb89cdaeffba6f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b7d1d4dc4504f29af7721acd93f3549.html" target="element"> Proceso de recolecci&#243;n de contenidos (copy) </a> </td>
											    <td> <a href="../elements/id-8b7d1d4dc4504f29af7721acd93f3549.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efbc5d5aa19e4f4d8b91dd8e3d74011e.html" target="element"> Administraci&#243;n de contenidos (copy) </a> </td>
											    <td> <a href="../elements/id-efbc5d5aa19e4f4d8b91dd8e3d74011e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce272cb9432042a7b36f3d24042cd0bc.html" target="element"> Motor de b&#250;squeda (copy) </a> </td>
											    <td> <a href="../elements/id-ce272cb9432042a7b36f3d24042cd0bc.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70182251bf3f460390869f2519604c81.html" target="element"> B&#250;squeda de contenidos. Relator&#237;a v0.1 (copy) </a> </td>
											    <td> <a href="../elements/id-70182251bf3f460390869f2519604c81.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e28aa0a727e4930baec0a9c52cbad98.html" target="element"> Adopci&#243;n, v1.2 (copy) </a> </td>
											    <td> <a href="../elements/id-5e28aa0a727e4930baec0a9c52cbad98.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e6d571f85364cf6bef88871af795ee1.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 (copy) </a> </td>
											    <td> <a href="../elements/id-4e6d571f85364cf6bef88871af795ee1.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42f1d0e7e12c40a795cc635fed5106ab.html" target="element"> Iteraci&#243;n 1 (copy) </a> </td>
											    <td> <a href="../elements/id-42f1d0e7e12c40a795cc635fed5106ab.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-714ba5ae64034cd79a2d69347dde5232.html" target="element"> Iteraci&#243;n 2 (copy) </a> </td>
											    <td> <a href="../elements/id-714ba5ae64034cd79a2d69347dde5232.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef30e563b64f49f59869519990d4b6a1.html" target="element"> Iteraci&#243;n 3 (copy) </a> </td>
											    <td> <a href="../elements/id-ef30e563b64f49f59869519990d4b6a1.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb54aeae7ad54b3baf28f9bd33487cae.html" target="element"> Iteraci&#243;n 4 (copy) </a> </td>
											    <td> <a href="../elements/id-bb54aeae7ad54b3baf28f9bd33487cae.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26ee9ca12f0e414db03698fa354b28c0.html" target="element"> Iteraci&#243;n 5 (copy) </a> </td>
											    <td> <a href="../elements/id-26ee9ca12f0e414db03698fa354b28c0.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86e92becd35643f4b10b0dd2fc88bef4.html" target="element"> Iteraci&#243;n 6 (copy) </a> </td>
											    <td> <a href="../elements/id-86e92becd35643f4b10b0dd2fc88bef4.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d59040ec9034dd2b46096705cf983ec.html" target="element"> Iteraci&#243;n 7 (copy) </a> </td>
											    <td> <a href="../elements/id-1d59040ec9034dd2b46096705cf983ec.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6341ba289d2b4242b398efbe3c191e5e.html" target="element"> Despliegue Relator&#237;a v1.2 (copy) </a> </td>
											    <td> <a href="../elements/id-6341ba289d2b4242b398efbe3c191e5e.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f05f1b648a44732a4cae043ac8e4c82.html" target="element"> Organizaci&#243;n contenidos. Rltr&#237;a v0.5 (copy) </a> </td>
											    <td> <a href="../elements/id-4f05f1b648a44732a4cae043ac8e4c82.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-70aeb7703741490d8020d22bd1fe4be5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-70aeb7703741490d8020d22bd1fe4be5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-b6bfe81843ab4d4c893fb17a1a0b2e04.html" target="element"> Autenticaci&#243;n (copy) </a> </td>
											    <td> <a href="../elements/id-b6bfe81843ab4d4c893fb17a1a0b2e04.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ee767539de648409f75bd96850d009b.html" target="element"> Autorizaci&#243;n (copy) </a> </td>
											    <td> <a href="../elements/id-4ee767539de648409f75bd96850d009b.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b9bbd723a0c417a931e869d05d6c280.html" target="element"> Integridad (copy) </a> </td>
											    <td> <a href="../elements/id-9b9bbd723a0c417a931e869d05d6c280.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d254dad2ea664b798030c3d91c7fc8ed.html" target="element"> Componente de autenticaci&#243;n SIU (copy) </a> </td>
											    <td> <a href="../elements/id-d254dad2ea664b798030c3d91c7fc8ed.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-505213af5aa84e718e64111953fa987d.html" target="element"> Componente de autorizaci&#243;n SIU (copy) </a> </td>
											    <td> <a href="../elements/id-505213af5aa84e718e64111953fa987d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c52d443bb66b4ababd65c47f71ec42b5.html" target="element"> Componente de  comunicaci&#243;n segura SIU (copy) </a> </td>
											    <td> <a href="../elements/id-c52d443bb66b4ababd65c47f71ec42b5.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-849e6146b2a04cf980ea260a29fee822.html" target="element"> Integraci&#243;n API CMS (copy) </a> </td>
											    <td> <a href="../elements/id-849e6146b2a04cf980ea260a29fee822.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-63fed2c57cbb4a3989002209c614688e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63fed2c57cbb4a3989002209c614688e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7099c76553e74012a7b0a1f3319f52fc.html" target="element"> Indexaci&#243;n (copy) </a> </td>
																		<td> <a href="../elements/id-4e6d571f85364cf6bef88871af795ee1.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-616f595cd8c044b58b4d1402cb187a5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-616f595cd8c044b58b4d1402cb187a5b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-86bbf31d943547af9c5d2aee55f3f775.html" target="element"> Contenidos (copy) </a> </td>
																		<td> <a href="../elements/id-4e6d571f85364cf6bef88871af795ee1.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c8228f233634a75ad3fc623c1bfd254.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c8228f233634a75ad3fc623c1bfd254.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-26cdd4622aa74b3ab403e5194a65cebb.html" target="element"> Recolecci&#243;n (copy) </a> </td>
																		<td> <a href="../elements/id-4f05f1b648a44732a4cae043ac8e4c82.html" target="element"> Organizaci&#243;n contenidos. Rltr&#237;a v0.5 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-12f213199fcc4d6485d3ee99c2cdf95d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12f213199fcc4d6485d3ee99c2cdf95d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-690ee912552c4bc093b4bb4c93718935.html" target="element"> B&#250;squeda (copy) </a> </td>
																		<td> <a href="../elements/id-70182251bf3f460390869f2519604c81.html" target="element"> B&#250;squeda de contenidos. Relator&#237;a v0.1 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7584dcab2cf04fdeb14356e592683722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7584dcab2cf04fdeb14356e592683722.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0aee60ce59c94d8b9e7f04b3ddb808b6.html" target="element"> Sincronizaci&#243;n (copy) </a> </td>
																		<td> <a href="../elements/id-4e6d571f85364cf6bef88871af795ee1.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-67e3c95e9b5c482b943224207ba2904a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67e3c95e9b5c482b943224207ba2904a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b644ec59f3fb485babe11a36d486f8db.html" target="element"> Descripci&#243;n (metatada) (copy) </a> </td>
																		<td> <a href="../elements/id-4f05f1b648a44732a4cae043ac8e4c82.html" target="element"> Organizaci&#243;n contenidos. Rltr&#237;a v0.5 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dda5196aab4e42429ec46ae02a961b85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dda5196aab4e42429ec46ae02a961b85.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-b981613d458149f3b703a9ee83ce4ed3.html" target="element"> Funcionalidades de b&#250;squeda (copy) </a> </td>
																		<td> <a href="../elements/id-690ee912552c4bc093b4bb4c93718935.html" target="element"> B&#250;squeda (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-52b759688c754d799efa89cd3f03c6c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52b759688c754d799efa89cd3f03c6c8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5ac46c788d3a4628b806e27795effc33.html" target="element"> Proceso de organizaci&#243;n de contenidos (copy) </a> </td>
																		<td> <a href="../elements/id-7099c76553e74012a7b0a1f3319f52fc.html" target="element"> Indexaci&#243;n (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7fd2458c7bed4b6cbca3423730fb6a91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fd2458c7bed4b6cbca3423730fb6a91.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-df4786f27b4b48bba15722a08eaa90c0.html" target="element"> Funcionalidades de descripci&#243;n de contenidos (copy) </a> </td>
																		<td> <a href="../elements/id-b644ec59f3fb485babe11a36d486f8db.html" target="element"> Descripci&#243;n (metatada) (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1c91c39bce234d70ac877db91f7af038.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c91c39bce234d70ac877db91f7af038.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-4bd3fca6e9694292bbeb89cdaeffba6f.html" target="element"> Proceso de sincronizaci&#243;n de contenidos (copy) </a> </td>
																		<td> <a href="../elements/id-0aee60ce59c94d8b9e7f04b3ddb808b6.html" target="element"> Sincronizaci&#243;n (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0bc31d6d263a4e2188964fa2e37cadf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bc31d6d263a4e2188964fa2e37cadf6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-8b7d1d4dc4504f29af7721acd93f3549.html" target="element"> Proceso de recolecci&#243;n de contenidos (copy) </a> </td>
																		<td> <a href="../elements/id-26cdd4622aa74b3ab403e5194a65cebb.html" target="element"> Recolecci&#243;n (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0fd062ba1e7d482eb9ae2cf168520261.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fd062ba1e7d482eb9ae2cf168520261.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-efbc5d5aa19e4f4d8b91dd8e3d74011e.html" target="element"> Administraci&#243;n de contenidos (copy) </a> </td>
																		<td> <a href="../elements/id-86bbf31d943547af9c5d2aee55f3f775.html" target="element"> Contenidos (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a58bbbc906c41bda4d738bcd24e308a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a58bbbc906c41bda4d738bcd24e308a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-ce272cb9432042a7b36f3d24042cd0bc.html" target="element"> Motor de b&#250;squeda (copy) </a> </td>
																		<td> <a href="../elements/id-690ee912552c4bc093b4bb4c93718935.html" target="element"> B&#250;squeda (copy) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-f0a8a3c8467643d9beff18a9d69252b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0a8a3c8467643d9beff18a9d69252b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d254dad2ea664b798030c3d91c7fc8ed.html" target="element"> Componente de autenticaci&#243;n SIU (copy) </a> </td>
																		<td> <a href="../elements/id-b6bfe81843ab4d4c893fb17a1a0b2e04.html" target="element"> Autenticaci&#243;n (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6da153cd0ef487b9908582afa96d23f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6da153cd0ef487b9908582afa96d23f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-505213af5aa84e718e64111953fa987d.html" target="element"> Componente de autorizaci&#243;n SIU (copy) </a> </td>
																		<td> <a href="../elements/id-4ee767539de648409f75bd96850d009b.html" target="element"> Autorizaci&#243;n (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eba0afc85cac480888bf5a64ac431cc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eba0afc85cac480888bf5a64ac431cc4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-c52d443bb66b4ababd65c47f71ec42b5.html" target="element"> Componente de  comunicaci&#243;n segura SIU (copy) </a> </td>
																		<td> <a href="../elements/id-9b9bbd723a0c417a931e869d05d6c280.html" target="element"> Integridad (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a904d1d5c812489484ca2fce86fae773.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a904d1d5c812489484ca2fce86fae773.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-849e6146b2a04cf980ea260a29fee822.html" target="element"> Integraci&#243;n API CMS (copy) </a> </td>
																		<td> <a href="../elements/id-86bbf31d943547af9c5d2aee55f3f775.html" target="element"> Contenidos (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-088a38b772d74d4c81b570c582e9b574.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-088a38b772d74d4c81b570c582e9b574.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-849e6146b2a04cf980ea260a29fee822.html" target="element"> Integraci&#243;n API CMS (copy) </a> </td>
																		<td> <a href="../elements/id-26cdd4622aa74b3ab403e5194a65cebb.html" target="element"> Recolecci&#243;n (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95943c2209a8409cb89b5e9048e1e54a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95943c2209a8409cb89b5e9048e1e54a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-849e6146b2a04cf980ea260a29fee822.html" target="element"> Integraci&#243;n API CMS (copy) </a> </td>
																		<td> <a href="../elements/id-b644ec59f3fb485babe11a36d486f8db.html" target="element"> Descripci&#243;n (metatada) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2de223245efb42a9903cc1f4605b964d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2de223245efb42a9903cc1f4605b964d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-849e6146b2a04cf980ea260a29fee822.html" target="element"> Integraci&#243;n API CMS (copy) </a> </td>
																		<td> <a href="../elements/id-7099c76553e74012a7b0a1f3319f52fc.html" target="element"> Indexaci&#243;n (copy) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>